/*Animações*/
@keyframes animacao-caixa{
    from{
        background: red;
        border-radius: 0px;
        top: 0px;
        left: 0px;
    }
    to{
        background: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}
#caixa{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    /*
    animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    */
    -webkit-animation: animacao-caixa 5s 3s 2 alternate;
    -moz-animation: animacao-caixa 5s 3s 2 alternate;
    -o-animation: animacao-caixa 5s 3s 2 alternate;
    animation: animacao-caixa 5s 3s 2 alternate;
}