/****Barra de navegação vertical****/
/*ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    padding: 5px 20px;
    
    background: url(../imgs/seta.png) no-repeat left center;
}*/
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: black;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../imgs/menu.png) no-repeat left bottom;
}
a:hover, .selecionado a {
    background-position: right bottom;
    background-color: #f99200;
    color : white;
}
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticia #navegacao .noticia a,
#contato #navegacao .contato a{
    background-position: right bottom;
    background-color: #f99200;
    color : white;
}